<div class="mycto-wrap">
  <div class="myclient-top">
    <!-- 头像 (后台没有数据,若有需求再改)-->

      <div class="myhead-portraitbg"></div>
      <div class="myhead-portrait-box boderradius-50">
        <img class="boderradius-50" ng-src="{{image_url}}" alt="">
    </div>
  </div>
  <form name="myForm" novalidate="novalidate">
  <div class="myclient-bottom">
    <div class="clearfix">
      <p class="float-left myclient-info">
        <span>姓</span><span>名</span>
      </p>
      <input class="float-left" type="text" ng-model="user.name" placeholder="请输入2-5位中文" name="name"
             ng-pattern="/^[\u4E00-\u9FA5]{2,5}$/"  required/>

    </div>
    <div class="clearfix">
      <p class="float-left  myclient-info">
        <span>姓</span><span>别</span>
      </p>

      <div class="float-left sex">
        <label class="sex-bg">
          <span ng-class="{active:user.sex == 1}"></span>
          <input name="gender" type="radio" ng-model="user.sex" ng-init="user.sex = 1" value="1" ng-checked="true">&nbsp;男
        </label>
        <label class="sex-bg">
          <span ng-class="{active:user.sex == 2}"></span>
          <input name="gender" type="radio" ng-model="user.sex" value="2">&nbsp;女
        </label>
      </div>
    </div>
    <div class="clearfix">
      <p class="float-left myclient-info">
        <span>手机</span><span>号码</span>
      </p>
      <input class="float-left" type="text" placeholder="请输入您的手机号码" ng-model="user.mobile"
             ng-pattern="/^1[34578]\d{9}$/" name="phone" required/>

    </div>
    <div class="clearfix">

      <p class="float-left myclient-info">
        <span>状</span><span>态</span>
      </p>
      <div class="mystatus-select float-left">
        <select ng-model="status"
                ng-options="list as list.name for list in lists">
        </select>
      </div>
      <input type="hidden" id="statusId" ng-value="statusId" ng-bind="statusId">
    </div>
    <div class="clearfix">

      <p class="float-left myclient-info">
        <span>备</span><span>注</span>
      </p>
      <textarea class="float-left remark" placeholder="请输入备注信息，最多100字" name="remark" ng-maxlength="100" ng-model="user.remarks" required></textarea>
    </div>
    <div class="submit boderradius-4" ng-click="submit()">
      <span>提交</span>
    </div>
  </div>
  </form>
</div>
