<div id="js-viewcontent" class="company-wrap" >
	<img src="../../images/contact-header.png" alt="" />
	<div class="contact">
		<div class="contact-left"></div>
		<ul class="add-info">
			<li ng-repeat="list in addInfo[0]" ng-bind="list"> </li>
		</ul>
	</div>
	<div class="contact">
		<div class="contact-left"></div>
		<ul class="add-info">
			<li ng-repeat="list in addInfo[1]" ng-bind="list"> </li>
		</ul>
	</div>
	<div class="contact">
		<div class="contact-left"></div>
		<ul class="add-info">
			<li ng-repeat="list in addInfo[2]" ng-bind="list"> </li>
		</ul>
	</div>	
	<div class="content-foot"></div>
</div>