<div class="new_home_wrap">
        		<div class="new_home_up">
        			<div class="swiper-container">
		                  <div class="swiper-wrapper">
		                      <div class="swiper-slide">
								  <a href="company/about"><img  src="../images/company/banner.jpg" /></a>
		                      </div>
		                      <div class="swiper-slide">
								  <a href="company/index"><img src="../images/company/banner2.jpg" /></a>
		                      </div>
		                  </div>
	                  	<div class="swiper-pagination"></div>
                		</div>
                		<a class="link_item bline" ng-click="changeHref('company/about')">
                			<span class="link_text">关于世茂</span>
                			<i class="link_icon icon_about"></i>
                		</a>
                		<a class="link_item bline" ng-click="changeHref('company/public')">
                			<span class="link_text">仁爱世茂</span>
                			<i class="link_icon icon_renai"></i>
                		</a>
                		<a class="link_item bline" ng-click="changeHref('company/news')">
                			<span class="link_text">最新资讯</span>
                			<i class="link_icon icon_news"></i>
                		</a>
                		<a class="link_item " ng-click="changeHref('building/index')">
                			<span class="link_text">世茂业务</span>
                			<i class="link_icon icon_service"></i>
                		</a>
        		</div>
        		<div class="new_home_down clearfix">

	        			<!-- <a class="link_item bline" ng-click="changeHref('building/index?type=1,6')"> -->
	        			<a class="link_item bline" ng-click="changeHref('company/house')">
	                			<span class="link_text">住宅</span>
	                			<i class="link_icon icon_house"></i>
	                		</a>
	                		<!-- <a class=" link_item bline lline" ng-click="changeHref('building/index?type=2,6')"> -->
	                		<a class="link_item bline lline" ng-click="changeHref('company/business')">
	                			<span class="link_text">商业</span>
	                			<i class="link_icon icon_business"></i>
	                		</a>
	        			<!-- <a class="link_item bline" ng-click="changeHref('building/index?type=3')"> -->
	        			<a class="link_item bline" ng-click="changeHref('company/hotel')">
	                			<span class="link_text">酒店</span>
	                			<i class="link_icon icon_hotel"></i>
	                		</a>
	                		<!-- <a class="link_item bline lline" ng-click="changeHref('building/index?type=4')"> -->
	                		<a class="link_item bline lline" ng-click="changeHref('company/property')">
	                			<span class="link_text">物业</span>
	                			<i class="link_icon icon_property"></i>
	                		</a>

	        			<!-- <a class="link_item bline" ng-click="changeHref('building/index?type=5')"> -->
	        			<a class="link_item bline" ng-click="changeHref('company/theme')">
	                			<span class="link_text">主题乐园</span>
	                			<i class="link_icon icon_park"></i>
	                		</a>
	                		<a class="link_item bline lline" href="javascript:;">
	                			<span class="link_text">敬请期待</span>
	                			<i class="link_icon icon_more"></i>
	                		</a>

        		</div>
        	</div>