<div id="js-viewcontent" class="public-wrap">
	<img src="../images/company/publicwelfare/01.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/02.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/03.jpg" alt="仁爱世茂">
	<img src="../images/company/publicwelfare/04.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/05.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/06.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/07.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/08.jpg" alt="仁爱世茂">
	<img src="../images/company/publicwelfare/09.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/10.jpg"  alt="仁爱世茂">
	<img src="../images/company/publicwelfare/11.jpg"  alt="仁爱世茂">
</div>