<div class="card-info">
	<div class="info-title-wrap">
		<span class="info-title">提交真实完整的资料是您快速结佣的关键</span>
    <div class="info-intr">
       <i></i>
  		<span class="info-tips bg-color-light color-fff fontsize-1024">绑定说明</span>
       <i></i>
    </div>
	</div>
	<ul class="info-text">
		<li>经纪人对所上传的资料的真实性负责，因经纪人自身提交上传资料有误造成的延迟支付或无法支付后果由经纪人承担；</li>
		<li>开户行 <strong class="orange-warn">示列：招商银行 xx省 xx市 xx支行</strong></li>
		<li>为了避免您无法正常结拥，请严格按照以下示列填写资料和上传照片；</li>
		<li>本活动最终解释权归活动举办方所有</li>
	</ul>
  <div class="imgcard">
    <p class="color-d3d3d3">身份证正面图片示例</p>
    <img src="../../images/idcard.png" alt="">
    <p class="red-warn margin-b-15">·为了避免您无法正常结佣，请严格按照示例上传身份证正面图片</p>
    <p class="color-d3d3d3">身份证反面图片示例</p>
    <img src="../../images/idcardbg.png" alt="">
    <p class="red-warn margin-b-15">为了避免您无法正常结佣，请严格按照示例上传身份证反面图片</p>
    <p class="color-d3d3d3">银行卡正面图片示例</p>
    <img src="../../images/bandcard.png" alt="">
    <p class="red-warn margin-b-15">为了避免您无法正常结佣，请严格按照示例上传银行卡正面图片</p>
  </div>
  <a href="/makemoney/bindingcard" class="color-fff binding-info-btn">+绑定身份证与银行卡信息</a>
</div>
