<div class="market-wrap" >
	<img src="../images/mark-active-header.png" alt="" />
	<ul class="active-list-ul">
		<li  class="active-list">
			<a ng-click="changeHref('http://shimao.wx.api.snsshop.net/market-activity/list?type=1&house_id=' + id)" >
			<div class="active-img"><img src="../images/activity/trunbal.png"></div>
			<div class="active-info">
				<p>大转盘</p><p>时来运转,转出你的好运</p>
			</div>
			<div class="arr-right"></div>
			</a>
		</li>
		<li class="active-list">
			<a ng-click="changeHref('http://shimao.wx.api.snsshop.net/market-activity/list?type=4&house_id=' + id)">
			<div class="active-img"><img src="../images/activity/glassEgg.png"></div>
			<div class="active-info">
				<p >砸金蛋</p><p >一锤锤出千万惊喜，谁砸谁知道</p>
			</div>
			<div class="arr-right"></div>
			</a>
		</li>
	</ul>
	<div class="content-foot"></div>
</div>
